.project {
  height: rem-calc(376);
  background-color: get-color('background', 1);
  display: flex;
  flex-direction: column;
  border-radius: rem-calc(16);
  gap: rem-calc(16);
  padding: rem-calc(12);

  @include md {
    height: rem-calc(517);
    border-radius: rem-calc(16);
    gap: rem-calc(24);
    padding: rem-calc(20);
  }

  .projectImageContainer {
    height: rem-calc(200);
    border-radius: rem-calc(12);
    overflow: hidden;
    position: relative;
    flex-shrink: 0;

    @include md {
      border-radius: rem-calc(16);
      height: rem-calc(289);
    }

    .projectImage {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center top;
    }

    .projectLabels {
      position: absolute;
      top: rem-calc(8.4);
      left: rem-calc(11.2);
      display: flex;
      align-items: center;
      gap: rem-calc(8.4);

      @include md {
        top: rem-calc(12);
        left: rem-calc(16);

        gap: rem-calc(12);
      }

      .projectLabel {
        border-radius: rem-calc(8);
        background-color: rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(rem-calc(10));
        padding: rem-calc(8) rem-calc(12);
        @include typography('text-sm', 'medium');
        color: get-color('neutral', 50);

        @include md {
          border-radius: rem-calc(12);
          padding: rem-calc(12) rem-calc(16);
          @include typography('text-lg', 'medium');
        }
      }
    }
  }

  .projectTitle {
    @include typography('text-lg', 'semibold');
    color: get-color('neutral', 50);

    @include md {
      @include typography('text-xl', 'semibold');
    }
  }

  .projectDescription {
    @include typography('text-sm', 'regular');
    color: get-color('neutral', 400);

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }

  .projectLink {
    display: flex;
    align-items: center;
    gap: rem-calc(5.6);
    color: get-color('brand', 400);
    @include md {
      gap: rem-calc(8);
    }
  }
}
