.header {
  height: rem-calc(90);
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    flex-shrink: 0;
  }

  .ctaButton {
    flex-shrink: 0;
    display: none;

    @include lg {
      display: flex;
    }
  }

  .hamburgerIcon {
    display: block;

    @include lg {
      display: none;
    }
  }
}

.mobileMenuOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 998;

  @include lg {
    display: none;
  }
}

.mobileMenu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 80%;
  max-width: rem-calc(300);
  background-color: get-color('background', 1);
  border-left: 1px solid get-color('stroke', 1);
  z-index: 999;
  display: flex;
  flex-direction: column;
  padding: rem-calc(24);

  @include lg {
    display: none;
  }
}

.mobileMenuHeader {
  display: flex;
  justify-content: flex-end;
  margin-bottom: rem-calc(32);

  .closeIcon {
    width: rem-calc(24);
    height: rem-calc(24);
  }
}

.mobileMenuNav {
  flex: 1;

  ul {
    display: flex;
    flex-direction: column;
    gap: rem-calc(24);

    li {
      a {
        @include typography('text-base', 'regular');
        color: get-color('neutral', 500);
        transition: color 0.2s ease;

        &:hover {
          color: get-color('neutral', 50);
        }
      }
    }
  }
}

.mobileMenuCta {
  margin-top: auto;
  width: 100%;
  justify-content: center;
}
