.contact {
  position: relative;
  padding-bottom: rem-calc(130);

  .ellipseDecoration {
    position: absolute;
    bottom: 0;
    width: 186%;
    aspect-ratio: 2.5 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 50% 50%;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;

    background-image: url('@/assets/png/decoration-grid-secondary.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;

    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: url('@/assets/png/ellipse-blur-effect.png');
      background-repeat: no-repeat;
      background-position: top center;
    }

    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.8) 0%,
        rgba(0, 0, 0, 0.7) 50%,
        rgba(0, 0, 0, 0) 100%
      );
      pointer-events: none;
    }
  }
}
